.mtg-card {
  margin: 3rem 0.5rem 0rem 0.5rem;
  min-width: 22rem;
  min-height: 28rem;
  padding: 0;
}

.mtg-title-row {
  max-height: 5rem;
}

.mtg-title {
  font-size: 125%;
  padding: 0;
}

#mtg-card-select
{
  width: inherit;
  overflow-y: scroll;
}

.mtg-cost {
  font-size: 90%;
}

.mtg-text, .mtg-ftext {
  padding: 5px;
  flex-grow: inherit;
  flex-basis: inherit;
}

.mtg-type-row {
  margin-top: 1rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.mtg-miscellany {
  font-size: 65%;
}

.mtg-pt {
  text-align: right;
}
